[submodule "Short-Projects"]
	path = Short-Projects
	url = https://github.com/yahya94812/Short-Projects.git
[submodule "learn-flow-ai"]
	path = learn-flow-ai
	url = https://github.com/yahya94812/learn-flow-ai.git
[submodule "share-fastly"]
	path = share-fastly
	url = https://github.com/yahya94812/share-fastly.git
